body{background-image:url('espace.png');}



.element1{width: 400px;
height:400px;
padding: 20px;
box-sizing: border-box;
float:left;
margin-left: 120px;
margin-top: 120px;
background-image: linear-gradient(to right bottom, #05080e, #0d0e13, #121316, #17171a, #1b1b1d);
box-shadow: 4px 4px 15px rgb(0, 0, 0);

}

.element2{ width: 450px;
height: 400px;
padding: 20px;
box-shadow: 4px 4px 15px rgb(0, 0, 0);
box-sizing: border-box;
float:right;
margin-right: 300px;
margin-top: 120px;
background-image: linear-gradient(to right bottom, #05080e, #0d0e13, #121316, #17171a, #1b1b1d);}

.element3{width: 130px;
    height:400px;
    padding: 20px;
    box-shadow: 4px 4px 15px rgb(0, 0, 0);
    box-sizing: border-box;
    float:right;
    margin-right: 155px;
    margin-top: -400px;
    background-image: linear-gradient(to right bottom, #05080e, #0d0e13, #121316, #17171a, #1b1b1d);
}

img{margin-left: 105px;
border-radius: 50%;
box-shadow: 4px 4px 15px rgb(0, 0, 0)}

p{text-align:center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
color:rgb(250, 250, 250);}

ul{color:rgb(206, 197, 197);
    font-family: 'Oswald', sans-serif;
font-size:18px;
}

li{margin-top:15px;
}

.conteneur{margin-right: 10px;}

#logo{width:65px;
    height:65px;
margin-left:12px;
margin-top: 20px;
opacity: 0.8}

a{text-align:center;
}

#logo:hover{
    transform: scale(1.1);
    transition: all .4s;
    opacity: 1;
    

}

strong{font-size: 30px;
text-align:center;
color: rgb(170, 161, 161);}